* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

header{
    display: inline;
    list-style-type: none;
}

.cover {
    width: 1400px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: 500;
    float: left;
    font-family: courier;
    color: #375577;
}

.menu {
    float: right;
    
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 65px;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #375577;
    border-bottom opacity: 0.1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #20233F;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: helvetica;

}

nav ul li a:hover {
    text-decoration: none;
    color: #b30f1a;
}

article {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


.describe {
    margin-top: 60px;
    margin-right:80px;
    margin-left: 150px;
    color: #ad141f;
    font-size: 20px;
    padding-right: 0px;
}

.describe .judul {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #20233F;
    padding-bottom: 0px;
    margin-right: -20px;
    padding-right: 0px;
}

h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 10px;
    color: #20233F;
    width: 100%;
    line-height: 60px;
}

h3 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
    color: #20233F;
    width: 100%;
    line-height: 50px;
}


.describe .tombol {
    background: #20233F;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.describe .tombol:hover {
    background-color: #df1927;
    text-decoration: none;
}

nav .login {
    background: #20233F;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

nav .login:hover {
    background-color: #df1927;
    text-decoration: none;
    color: #FFFFFF;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}


#home{
    height: 700px;
}

#kelas,#testi{
    height: 800px;
    font-size: 20px;
}

#FF4E5A
3a4047

.tengah {
    text-align: right;
    width: 100%;
}

.kelas-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.judulmenu {
    text-align: center;
    padding: 50px 0px 70px 0px;
    color: #20233F;
    margin-top: 40px;
}

.kartu {
    width: 20%;
    margin: 0 auto;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 500ms ease;
}

.kartu:hover{
    transform: scale(1.05);
}

.kartu img {
    width: 100%;
}

.kartu p {
    font-family: helvetica;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #364f6b;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h5{
    text-align: center;
    color: #df1927;
    padding-top: 0px;
    padding-bottom: 10px;
}




.testi {
    text-align: right;
    width: 100%;
}


.testi-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.testimoni {
    width: 25%;
    margin: 0 auto;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);

}

.testimoni p {
    font-family: helvetica;
    font-size: 25px;
    padding: 40px;
    padding-bottom: 0px;
    text-align: left;
    color: #364f6b;
}


.testimoni img {
    width: 20%;
    border-radius: 50%;
    padding:  30px;
    padding-left: 40px;
    float: left;
}

h4{
    padding:  50px;
    color: black;
}


.mentor {
    width: 25%;
    margin: 0 auto;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
   border-radius: 20px;
}

.mentor p {
    font-family: helvetica;
    font-size: 15px;
    padding-bottom: 0px;
    text-align: center;
    color: #364f6b;
}


.mentor img {
    width: 20%;
}




footer{ 
    padding: 7px;
    color: white;
    background-color: #20233F;
    text-align: center;
    height: 50px;
   
}

